<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>

    <div class="row container">
        <div class="col s12 l12">

            <div class="col s12 l12">
                <div class="col s2 l2">
                    <img src="https://img.icons8.com/office/50/000000/imperial-mustache.png" />
                </div>
                <div class="col s8 l8">
                    <h4 class="center flow-text">Nova Mensagem!</h4>
                </div>
                <div class="col s2 l2">
                    <img src="https://img.icons8.com/office/50/000000/imperial-mustache.png" />
                </div>
            </div>

            <p>Mensagem de: <b><%= nome  %> </b></p>
            <p>Email: <%= email  %></p>
            <p>Assunto: <b> <%= assunto  %></b></p>
            <p><b>Mensagem: </b> <%= mensagem  %></p>

        </div>
    </div>
</body>

</html>